.gsd-keyboard.settings-ported
.wrangler
Code/
JetBrains/
astro/
capacitor/
cef_user_data/
dconf/
discord/
dleyna-server-service.conf
enchant/
eog/
evolution/
gedit/
github-copilot/
gnome-control-center/
gnome-initial-setup-done
google-chrome/
ibus-mozc-gnome-initial-setup-done
ibus/
install.sh
libreoffice/
lvim.old/
menus/
mimeapps.list
mozc/
nautilus/
neofetch/
nextjs-nodejs/
pop-shell/
pop-system-updater/
pulse/
regolith2/
tms/
totem/
touchegg/
user-dirs.dirs
user-dirs.locale
yad.conf
yarn/
